<!DOCTYPE html>
<html>
  <head>
    <title>SchoolAttendence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>

  </head>

  <body>
    <%# rails g scaffold Lesson user:references classroom:belongs_to course:belongs_to status start:datetime --no-helper --no-assets --no-controller-specs --no-view-specs --no-test-framework --no-jbuilder %>

    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
  <footer class="bg-dark text-light">
    <div class="container">
      <p>This is a footer</p>
      <p><%= link_to 'Privacy Policy', privacy_policy_path %></p>
    </div>
  </footer>
</html>
